{% extends 'base_layout.html' %}
{% load static %}


{% block content %}
    <div class="box has-background-warning-light" style="height: 86vh; overflow: scroll">
        <div class="title has-text-centered" style="font-family: 'Comic Sans MS'; margin-top: 20px">Найди своего
            человека
        </div>
        <div class="columns is-centered mt-3">
            <div class="column is-6">
                <div class="box"
                     style="
                     height: 55vh;
                     text-align: center;
                     width: 60vh;
                     margin: 80px auto;
                     box-shadow: 0 0 8px 8px #fcd4dc;
                     margin-top: 20px;
                     margin-bottom: 20px;
                     padding: 50px;
                     padding-top: 30px">

                    <form action="" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="field">
                                <label for="{{ field.id_for_label }}" class="label">
                                    {{ field.label }}
                                </label>
                                <div class="control">
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}

                        {% if form.errors %}
                            <ul>
                                {% for error in form.errors.values %}
                                    <li class="has-text-danger">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <button class="button is-danger" type="submit" value="Поиск"
                                style="color: white; width: 120px;"> 
                                Поиск
                        </button>
                    </form>
                </div>
            </div>
        </div>

        {% if form.is_valid %}
        <div class="title has-text-centered" style="font-family: 'Comic Sans MS'; margin-top: 10px">
            Результаты поиска
        </div>
        {% if profiles %}
            <div class="columns is-multiline">
                {% for profile in profiles %}
                <div class="column is-4">
                    <style>
                        .user-card {
                            background-color: lightsalmon;
                            margin: 20px;
                            border-radius: 5px;
                            box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.1);
                            height: 440px;
                        }
                    
                        .box {
                            padding: 0px;
                            margin-right: 0px;
                            margin-left: 0px;
                        }
                    
                        img {
                            border-radius: 5px;
                        }
                    
                        .buttons {
                            margin-left: 10px;
                            padding: 3px;
                        }
                    
                        .button {
                            padding-bottom: 3px;
                        }
                    </style>
                    <div class="user-card" style="padding: 10px;">
                        <div class="title is-4 has-text-centered"
                                style="color: white; "> {{ profile }} </div>
                        <div class="box" style="width: 93%; margin: 4%;">
                            <figure class="image search-image" style="height: 69%;">
                                <a href="{% url 'head:profile' profile.user.pk %}">
                                    <img class="" src="{{ profile.image.url }}">
                                </a>
                            </figure>
                        </div>
                        <div class="buttons">
                            {% if profile.user != request.user %}
                            <a href="{% url 'messenger:chat' profile.pk %}" class="button is-small is-danger" id="1">
                                <ion-icon name="chatbubbles-outline"></ion-icon>
                            </a>
                            <span style="color: white;">Напишите сообщение</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
        <div class="has-text-centered" style="font-family: 'Comic Sans MS'; margin-top: 10px">Не найдено</div>
        {% endif %}
        <button class="button is-danger has-text-right" style="position: fixed; bottom: 40px; right: 50px">
            <a href="{% url 'head:search' %}" style="color: white">К поиску</a>
        </button>
        {% endif %}
        
    </div>
{% endblock %}



