{% load static from static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'static/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'static/style.css' %}">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{% static 'static/script.js' %}" defer></script>
</head>
<body>
{% block nav %}
{% endblock %}

<div class="columns">
    <div class="column is-2">
        <div class="wrapper">
            <div class="sidebar" style="overflow: scroll;">
                <div class="profile has-text-centered">
                    <img src="{% static 'static/images/logo.png' %}" style="width: 70%">
                    {% if account.user == request.user %}
                    <img id="avatar" style="margin-top: 1px"
                         src="{{ account.image.url }}"
                         alt="profile_picture">
                        {% if account.user.is_authenticated %}
                        <span class="dot-online"></span>
                        {% else %}
                        <span class="dot-offline"></span>
                        {% endif %}
                    <div class="title" style="color: lightgoldenrodyellow;">
                         {{ account }}
                    </div>
                    <div class="subtitle" style="color: lightgoldenrodyellow">{% if account.job %} {{ account.job }} {% endif %}</div>
                    {% else %}
                    <img id="avatar" style="margin-top: 1px"
                         src="{{ request.user.profile.image.url }}"
                         alt="profile_picture">
                    <div class="title" style="color: lightgoldenrodyellow;">
                         {{ request.user.profile }} 
                    </div>
                    <div class="subtitle" style="color: lightgoldenrodyellow">{% if request.user.profile.job %} {{ request.user.profile.job }} {% endif %}</div>
                    {% endif %}
                </div>
                <ul>
                    <li>
                        <a href="{% url 'head:search' %}">
                            <ion-icon name="search-outline"></ion-icon>
                            <span class="item">Поиск знакомств</span>
                        </a>
                    </li>
                    <li>
                        {% if user.is_authenticated %}
                        <a href="{% url 'head:profile' user.pk %}">
                            <ion-icon name="person-outline"></ion-icon>
                            <span class="item">Мой профиль</span>
                        </a>
                        {% endif %}
                    </li>
                    <li>
                        <a href="{% url 'messenger:chats' user.pk %}">
                            <ion-icon name="mail-open-outline"></ion-icon>
                            <span class="item">Собеседники</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'head:photo' user.pk %}">
                            <ion-icon name="images-outline"></ion-icon>
                            <span class="item">Фотографии</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'head:settings' user.pk %}">
                            <ion-icon name="settings-outline"></ion-icon>
                            <span class="item">Настройки</span>
                        </a>
                    </li>
                    <li style="background-color: rgb(248, 83, 83);">
                        <a href="{% url 'head:sign_out' %}">
                            <ion-icon name="exit-outline"></ion-icon>
                            <span class="item">Выйти</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="column pt-3 mr-5">
        <div class="columns is-vcentered is-multiline" style="margin-bottom: 0; padding-bottom: 1px">
            <div class="column is-6">
                <form>
                    <div class="field has-addons">
                        <div class="control" style="width: 100%">
                            <input type="text" class="input" name="search" placeholder="Поиск по имени">
                        </div>
                        <div class="control">
                            <button class="button" style="color: white; background-color: lightsalmon">
                                <ion-icon name="search-outline"></ion-icon>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="column">
                <div class="subtitle has-text-right"
                     style="color: orangered; font-family: 'Academy Engraved LET'; font-size: 50px; margin: 1px; margin-top: 5px; padding: 5px; bottom: 1px">
                    CLICKDATE
                </div>
            </div>
        </div>

        <div class="box has-background-warning-light" style="height: 86vh; overflow: scroll">
            <div class="title has-text-centered" style="font-family: 'Comic Sans MS'; margin-top: 20px">Найди своего
                человека
            </div>
            <div class="columns is-centered mt-3">
                <div class="column is-6">
                    <div class="box"
                         style="
                         height: 55vh;
                         text-align: center;
                         width: 60vh;
                         margin: 80px auto;
                         box-shadow: 0 0 8px 8px #fcd4dc;
                         margin-top: 20px;
                         margin-bottom: 20px;
                         padding: 50px;
                         padding-top: 30px">
    
                        <form action="" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="field">
                                    <label for="{{ field.id_for_label }}" class="label">
                                        {{ field.label }}
                                    </label>
                                    <div class="control">
                                        {{ field }}
                                    </div>
                                </div>
                            {% endfor %}
    
                            {% if form.errors %}
                                <ul>
                                    {% for error in form.errors.values %}
                                        <li class="has-text-danger">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <button class="button is-danger" type="submit" value="Поиск"
                                    style="color: white; width: 120px;"> 
                                    Поиск
                            </button>
                        </form>
                    </div>
                </div>
            </div>
    
            {% if form.is_valid or search_users %}
            <div class="title has-text-centered" style="font-family: 'Comic Sans MS'; margin-top: 10px">
                Результаты поиска
            </div>
            {% if profiles %}
                <div class="columns is-multiline">
                    {% for profile in profiles %}
                    <div class="column is-4">
                        <style>
                            .user-card {
                                background-color: lightsalmon;
                                margin: 20px;
                                border-radius: 5px;
                                box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.1);
                                height: 440px;
                            }
                        
                            .box {
                                padding: 0px;
                                margin-right: 0px;
                                margin-left: 0px;
                            }
                        
                            img {
                                border-radius: 5px;
                            }
                        
                            .buttons {
                                margin-left: 10px;
                                padding: 3px;
                            }
                        
                            .button {
                                padding-bottom: 3px;
                            }
                        </style>
                        <div class="user-card" style="padding: 10px;">
                            <div class="title is-4 has-text-centered"
                                    style="color: white; "> {{ profile }} </div>
                            <div class="box" style="width: 93%; margin: 4%;">
                                <figure class="image search-image" style="height: 69%;">
                                    <a href="{% url 'head:profile' profile.user.pk %}">
                                        <img class="" src="{{ profile.image.url }}">
                                    </a>
                                </figure>
                            </div>
                            <div class="buttons">
                                {% if profile.user != request.user %}
                                <a href="{% url 'messenger:chat' profile.pk %}" class="button is-small is-danger" id="1">
                                    <ion-icon name="chatbubbles-outline"></ion-icon>
                                </a>
                                <span style="color: white;">Напишите сообщение</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            
            <a href="{% url 'head:search' %}" class="button is-danger has-text-right" style="color: white; position: fixed; bottom: 40px; right: 50px">
                К поиску
            </a>
            {% elif not profiles and not search_users %}
            <div class="has-text-centered" style="font-family: 'Comic Sans MS'; margin-top: 10px">Не найдено</div>
            <a href="{% url 'head:search' %}" class="button is-danger has-text-right" style="color: white; position: fixed; bottom: 40px; right: 50px">
                К поиску
            </a>
            {% endif %}
            {% for search_profile in search_users %}
            <div class="column is-4">
                <style>
                    .user-card {
                        background-color: lightsalmon;
                        margin: 20px;
                        border-radius: 5px;
                        box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.1);
                        height: 440px;
                    }
                
                    .box {
                        padding: 0px;
                        margin-right: 0px;
                        margin-left: 0px;
                    }
                
                    img {
                        border-radius: 5px;
                    }
                
                    .buttons {
                        margin-left: 10px;
                        padding: 3px;
                    }
                
                    .button {
                        padding-bottom: 3px;
                    }
                </style>
                <div class="user-card" style="padding: 10px;">
                    <div class="title is-4 has-text-centered"
                            style="color: white; "> {{ search_profile }} </div>
                    <div class="box" style="width: 93%; margin: 4%;">
                        <figure class="image search-image" style="height: 69%;">
                            <a href="{% url 'head:profile' search_profile.user.pk %}">
                                <img class="" src="{{ search_profile.image.url }}">
                            </a>
                        </figure>
                    </div>
                    <div class="buttons">
                        {% if search_profile.user != request.user %}
                        <a href="{% url 'messenger:chat' search_profile.pk %}" class="button is-small is-danger" id="1">
                            <ion-icon name="chatbubbles-outline"></ion-icon>
                        </a>
                        <span style="color: white;">Напишите сообщение</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% if search_users %}
            <a href="{% url 'head:search' %}" class="button is-danger has-text-right" style="color: white; position: fixed; bottom: 40px; right: 50px">
                К поиску
            </a>
            {% endif %}
            {% elif search and not search_users %}
            <div class="title has-text-centered" style="font-family: 'Comic Sans MS'; margin-top: 10px">
                Результаты поиска
            </div>
            <div class="has-text-centered" style="font-family: 'Comic Sans MS'; margin-top: 10px">Не найдено</div>
            <a href="{% url 'head:search' %}" class="button is-danger has-text-right" style="color: white; position: fixed; bottom: 40px; right: 50px">
                К поиску
            </a>
            {% endif %}
        </div>
    </div>
</div>
</body>




